<h1>New Blog Entry</h1>

<%= form_for :posts, :url => posts_path do |f| %>

  <div class="control-group">
	  <%= f.label :title %>
	  <div class="field">
	  	<%= f.text_field :title, :class => "span10" %>
	  </div>
  </div>

  <div class="control-group">
	<%= f.label :blog %>
	  <div class="field">
	  <%= f.text_area :blog, :size => "20x10", :class => "span10" %>
	</div>
  </div>

  <%= f.submit 'Submit', :class => "btn btn-primary" %>
<% end %>
